.order {
  background: url("../img/main-image.jpg") no-repeat top center;
}

.order-container {
  padding-top: 227px;
  line-height: 68px;
}

.order-title {
  font-size: 48px;
  font-weight: 700;
  color: #272733;
  width: 740px;
  text-transform: uppercase;
  margin-bottom: 30px;

  span {
    color: #3e9cdc;
  }
}

.order-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.order-content__items {
  color: #272733;
  font-size: 20px;
  font-weight: 400;
  height: 35px;

  &:first-child {
    color: #2a2b30;
    font-weight: 700;
  }
}

.order-block {
  display: flex;
  padding-top: 87px;
  padding-bottom: 190px;
}


.order-block__links:nth-child(2) {
  margin-left: 30px;
}

@media (max-width: 1024px) {
  .order-container {
    padding-top: 23vw;
  }
  .order-title {
    font-size: 4.5vw;
    width: 71vw;
    margin-bottom: 4vw;
  }
  .order-content__items {
    font-size: 1.9vw;
  }
  .order-block {
    padding-top: 5vw;
  }
}

@media (max-width: 768px) {
  .header-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .order-container {
    line-height: unset;
  }
  .order {
    background-size: 218vw;
  }
  .order-block__links:nth-child(2) {
    margin-left: 0;
    margin-top: 2vw;
  }
  .order-block {
    flex-direction: column;
    width: 48vw;
    padding-bottom: 4vw;
  }

  .order-content__items {
    font-size: 2.2vw;
    height: 5vw;
  }
}

@media (max-width: 480px) {
  .order-block__links {
    font-size: 3vw;
    border-radius: 1vw;
    width: 40vw;
    height: 9vw;
  }
  .order-block {
    padding-bottom: 11vw;
  }
}



