@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

img {
  max-width: 100%
}

body {
  font-family: 'Lato', "Arial", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  background-color: #fff;

}

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

.btn {
  font-size: 13px;
  font-weight: 400;
  border-radius: 5px;
  width: 180px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid;
  text-transform: uppercase;
  transition: background .9s ease-in-out, box-shadow .9s ease-in-out, color .9s ease-in-out;

  &:hover {
    background-color: #dcc512;
    box-shadow: 0 0 25px 1px rgba(37, 38, 50, 0.59);
  }
}

.btn-primary {
  color: #fff;
  background-color: #3e9cdc;
}

.btn-secondary {
  background-color: #fff;
  color: #2a2b30;

  &:hover {
    color: #fff;
  }
}

.hide-placeholder {
  @include hidePlaceholder {
    opacity: 1;
    color: #272733;
    font-size: 15px;
    transition: opacity 0.3s ease;
  }

  &:focus {
    @include hidePlaceholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}